body {
  margin: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titleName {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

button {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.message {
  color: darkgreen;
}